apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-cors
  namespace: storage
  labels:
    stage: config
data:
  cors.json: |
    [
      {
        "AllowedOrigins": ["http://localhost:3000"],
        "AllowedMethods": ["GET", "PUT", "POST"],
        "AllowedHeaders": ["*"],
        "ExposeHeaders": ["ETag"],
        "MaxAgeSeconds": 3600
      }
    ]