apiVersion: v1
kind: Service
metadata:
  name: users
  namespace: social-network
spec:
  selector:
    app: users
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
