apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config
  namespace: monitoring
data:
  config.alloy: |
    otelcol.receiver.otlp "default" {
      grpc {}
      http {}

      output {
        logs = [otelcol.exporter.otlphttp.victoria.input]
      }
    }

    otelcol.exporter.otlphttp "victoria" {
      client {
        endpoint = "victoria-logs.monitoring.svc.cluster.local:9428"
      }
    }
