apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
  labels:
    stage: config
data:
  grafana.ini: |
    [server]
    root_url = http://my.grafana.server/
    [log]
    level = debug