apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
  labels:
    stage: app
spec:
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP